extends layout

block content
  h1= "Tweet Analyser"
  p Welcome to #{title}
  form(action="/", method="get")
    div(class="input")
      label(for='tweet filters') Enter keywords for tweets to find
      input(
        type='text'
        id='tweetFilters'
        name='tweetFilters'
      )
    button(type='submit') Search
  if tweets_data 
    h3 
      strong Sentiment analysis results 
    h4 
      strong Query: #{query}
    table 
      tr 
        td 
          strong Username
        td 
          strong Tweet
        td 
          strong Date
        td 
          strong Sentiment Value
      each tweet in tweets_data 
        tr.theTweet(style=`background-color:${tweet.sentimentValCol}`)
          td #{tweet.user}
          td #{tweet.text} 
          td #{tweet.date}
          td 
            img(src=`/images/${tweet.sentimentValPic}.png` style='height:50px;')
            


    